body {
  /* background-color: red; */
  height: auto;
}

section#blog {
  padding: 30px 50px;
  height: max-content;
  /* border: 2px solid red; */

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;


}

#noPostHeading {
  font-size: 3em;
  font-weight: bolder;
  margin: 20% 0px;
  /* display: none; */
}

section#blog div {
  margin-bottom: 20px;
}

#navbarNav button {
  padding: 10px 40px;
  background-color: lightyellow;
  border-radius: 30px;
  border: none;
}

#noPostHeading{
  /* display: none; */
}
div.cratepost {
  /* border: 2px solid green; */
  /* position: absolute; */
  /* background-color: rgba(0, 0, 0, 0.342); */
  width: 100%;
  /* top: -100%; */
  animation-iteration-count: unset;
  animation-name: exal;
  animation-duration: 2s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  padding: 10px 20px;
}

@keyframes exal {
  0%{
    top: -100%;
  }
  50%{
top: -60%;
  }
  100%{
top: 20%;
  }
}

div.cratepost h1 {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: red;
}

div.cratepost form {
  background-color: lightyellow;
  margin: 0px auto;
  width: 80%;
  padding: 20px 50px;
}

.icon{
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
}

.icon i{
  font-size: 1.2em;
  cursor: pointer;
}

div.cratepost form label {
  display: block;
  font-size: 2em;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 500;
}

div.cratepost form input {
  display: block;
  font-size: 1em;
  text-transform: capitalize;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 20px;
}

div.cratepost form textarea {
  display: block;
  font-size: 1em;
  text-transform: capitalize;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px 20px;
}

div.cratepost form button {

  font-size: 1em;
  text-transform: capitalize;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px 20px;
  background-color: darkorange;
  border-radius: 20px;
  border: none;
  font-weight: 800;
}

@media only screen and (max-width:600px) {
  div.cratepost {
    padding: 10px;
  }

  div.cratepost form {
    width: 100%;
    padding: 30px 15px;
  }

  div.cratepost form label {
    font-size: 1.3em;
  }
}

/* loder  */
.loader {
  height: 4px;
  width: 17em;
  --c: no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c), var(--c), #d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}

@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0
  }

  66% {
    background-position: 250% 0, -150% 0
  }

  100% {
    background-position: 250% 0, 250% 0
  }
}

.perant {
  background-color: #000000cb;
  height: 100%;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-transform: capitalize;
  font-size: 1.2em;
  position: fixed;
  width: 100%;

  z-index: 4;

  display: none;
}

/* loder  */